.container-cards-films__card {
    background: var(--background-card);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 122.4rem;
    padding: 2rem;
    width: 100%;
}

.card__title-film {
    align-self: center;
}

@media screen and (min-width:980px) {
    .container-cards-films__card {
        flex-direction: row;
    }
}