.checkbox-wrapper__checkbox {
    -webkit-appearance: none;
    border: 1px solid var(--purple-checkbox);
    background-color: transparent;
    height: 1.2rem;
    width: 1.2rem;
}

.checkbox-wrapper__checkbox:checked {
    background-color: var(--purple-checkbox);
}

.checkbox-wrapper__text-label {
    font-size: 1.4rem;
}