:root {
    --background-main: #17162E;
    --background-card: #1D1C3B;
    --purple-checkbox: #706EA8;
    --text-description: #ACACAC;
    --white: #fff;
    font-size: 62.5%;
}

body {
    background: var(--background-main);
    color: var(--white);
    font-family: 'Kumbh Sans', sans-serif;
}